body {
  background: #fcfefe;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #66bfbf;
  font-size: 70px;
  text-align: left;
}

.tempvalue {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  text-align: LEFT;
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 18px;
}

.day-time-now {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

h5 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}

ul {
  padding: 20px;
}

li {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  text-align: right;
  font-size: 14px;
}

header {
  margin: 10px 35px;
  text-align: center;
}

.temp-unit {
  font-size: 15px;
  color: black;
  position: relative;
  top: -36px;
}

.navbar-brand {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.pagina {
  background: #eaf6f6;
  border-radius: 10px;
  padding: 10px;
}

.icon-day {
  font-size: 50px;
  padding: 20px;
  color: #fdb44b;
}

.icon-today {
  font-size: 70px;
  color: #fdb44b;
  padding: 20px;
  text-align: left;
}

.container {
  width: 80%;
}

.temperature-info {
  font-size: 20px;
}

.min-max .temperature {
  text-align: left;
}

.bold-symbols {
  font-weight: bolder;
}

.weather-description {
  text-transform: capitalize;
  text-align: right;
  font-weight: bolder;
}

.city {
  text-transform: capitalize;
}
